* text=auto

*.cs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.meta text eol=lf
*.inputactions text eol=lf
*.asmdef text eol=lf
*.asmref text eol=lf
*.shader text eol=lf
*.compute text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.fbx binary
*.wav binary
*.mp3 binary
*.ogg binary
*.apk binary
*.aab binary